openapi: 3.1.0
info:
  title: API da Plataforma — Metrito
  version: "3.0"
  description: |
    API para autenticação e consulta de recursos da plataforma Metrito (projetos, conexões).
    Utilizada para obter tokens JWT e listar recursos disponíveis para o usuário autenticado.

servers:
  - url: https://api.metrito.com
    description: Produção

paths:
  /v3/auth/login:
    post:
      operationId: login
      summary: Autenticar na plataforma
      description: |
        Autentica o usuário com e-mail e senha e retorna um token JWT para uso nas demais rotas autenticadas.

        O token retornado deve ser enviado no header `Authorization: Bearer {token}` em todas as requisições autenticadas.
      x-mint:
        metadata:
          title: Login
        content: |
          ## Uso do Token

          O token JWT retornado tem validade de **7 dias**. Após expirar, faça login novamente.

          Envie o token em todas as requisições autenticadas:

          ```bash
          curl -X GET https://api.metrito.com/v3/projects \
            -H "Authorization: Bearer {token}"
          ```

          <Warning>Este endpoint é destinado a integrações server-to-server. Para a maioria dos casos de uso, recomendamos usar **API Keys** (chaves de serviço) que não expiram e têm escopos granulares. Veja a [página de autenticação](/api-reference/authentication) para mais detalhes.</Warning>
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            examples:
              default:
                summary: Login padrão
                value:
                  email: usuario@empresa.com
                  password: suaSenhaSegura123
      responses:
        "200":
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                user:
                  id: 60f1b2c3d4e5f6a7b8c9d0e1
                  name: João Silva
                  email: usuario@empresa.com
                  role: owner
        "400":
          description: Credenciais inválidas ou campos ausentes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidCredentials:
                  summary: Credenciais inválidas
                  value:
                    error: Invalid credentials
                    message: E-mail ou senha incorretos

  /v3/projects:
    get:
      operationId: listProjects
      summary: Listar projetos do usuário
      description: |
        Retorna todos os projetos (brands) que o usuário autenticado tem acesso.

        Cada projeto contém um `id` que é usado como `project_id` nas demais APIs (Data API, conexões, etc.).
      x-mint:
        metadata:
          title: Listar Projetos
        content: |
          ## Autenticação

          Este endpoint aceita dois formatos de autenticação:

          1. **JWT da plataforma**
             - Header: `Authorization: Bearer {jwt}`

          2. **API Key do Metrito**
             - Header: `Authorization: Bearer mtk_live_...` **ou** `x-api-key: mtk_live_...`
             - Requer escopo `data:read`
             - Retorna todos os projetos do workspace vinculado à chave
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          description: Lista de projetos retornada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
              example:
                - id: 69162064162b926ae607959b
                  name: Minha Loja Online
                  description: E-commerce de roupas
                  logo: https://storage.metrito.com/logos/minhaloja.png
                  workspace_id: 60f1b2c3d4e5f6a7b8c9d0e1
                - id: 69162064162b926ae607960c
                  name: SaaS App
                  description: null
                  logo: null
                  workspace_id: 60f1b2c3d4e5f6a7b8c9d0e1
        "401":
          description: Token ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Unauthorized
                message: Token inválido ou expirado

  /v3/projects/{project_id}/connections:
    get:
      operationId: listConnections
      summary: Listar conexões de um projeto
      description: |
        Retorna todas as conexões (fontes de dados) vinculadas a um projeto específico.

        Cada conexão representa uma conta de anúncios ou fonte de dados integrada (Meta Ads, Google Ads, TikTok Ads, etc.).
      x-mint:
        metadata:
          title: Listar Conexões
        content: |
          ## Autenticação

          Este endpoint aceita dois formatos de autenticação:

          1. **JWT da plataforma**
             - Header: `Authorization: Bearer {jwt}`

          2. **API Key do Metrito**
             - Header: `Authorization: Bearer mtk_live_...` **ou** `x-api-key: mtk_live_...`
             - Requer escopo `data:read`
             - O projeto deve pertencer ao workspace vinculado à chave
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: project_id
          in: path
          required: true
          description: ID do projeto.
          schema:
            type: string
            example: 69162064162b926ae607959b
      responses:
        "200":
          description: Lista de conexões retornada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Connection"
              example:
                - id: 64a1b2c3d4e5f6a7b8c9d0e1
                  source: Meta Ads
                  source_id: "act_123456789"
                  name: "Conta Principal Meta"
                  status: active
                  workspace_id: 60f1b2c3d4e5f6a7b8c9d0e1
                  webhook_url: null
                - id: 64a1b2c3d4e5f6a7b8c9d0e2
                  source: Google Ads
                  source_id: "123-456-7890"
                  name: "Google Ads Loja"
                  status: active
                  workspace_id: 60f1b2c3d4e5f6a7b8c9d0e1
                  webhook_url: null
                - id: 64a1b2c3d4e5f6a7b8c9d0e3
                  source: Personalizado
                  source_id: null
                  name: "Webhook Hotmart"
                  status: active
                  workspace_id: 60f1b2c3d4e5f6a7b8c9d0e1
                  webhook_url: "https://api.metrito.com/v2/tracking/generic?k=abc123"
        "400":
          description: Projeto não encontrado ou sem permissão
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Not Found
                message: "Access denied: User doesn't have read permissions for this project"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or API Key
      description: JWT da plataforma ou API key `mtk_live_...` enviada no header Authorization
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key `mtk_live_...` enviada via header `x-api-key`

  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: E-mail da conta Metrito
          example: usuario@empresa.com
        password:
          type: string
          description: Senha da conta
          example: suaSenhaSegura123

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: Token JWT para autenticação nas demais rotas
        user:
          type: object
          properties:
            id:
              type: string
              description: ID do usuário
            name:
              type: string
              description: Nome do usuário
            email:
              type: string
              description: E-mail do usuário
            role:
              type: string
              description: Papel do usuário no workspace
              enum:
                - owner
                - admin
                - member
                - viewer

    Project:
      type: object
      properties:
        id:
          type: string
          description: ID do projeto (usar como `project_id` nas demais APIs)
        name:
          type: string
          description: Nome do projeto
        description:
          type: string
          nullable: true
          description: Descrição do projeto
        logo:
          type: string
          nullable: true
          description: URL do logo do projeto
        workspace_id:
          type: string
          description: ID do workspace ao qual o projeto pertence

    Connection:
      type: object
      properties:
        id:
          type: string
          description: ID da conexão
        source:
          type: string
          description: Nome da fonte de dados (Meta Ads, Google Ads, TikTok Ads, Personalizado, etc.)
        source_id:
          type: string
          nullable: true
          description: ID da conta na plataforma de origem (ex. act_123456 para Meta)
        name:
          type: string
          description: Nome dado à conexão pelo usuário
        status:
          type: string
          description: Status atual da conexão
          enum:
            - active
            - error
            - paused
            - disabled
        workspace_id:
          type: string
          description: ID do workspace
        webhook_url:
          type: string
          nullable: true
          description: URL do webhook (apenas para conexões do tipo Personalizado)

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
