openapi: 3.1.0
info:
  title: API de Rastreamento — Metrito
  version: "3.0"
  description: |
    API para envio de eventos de rastreamento, gerenciamento de gatilhos (triggers) e webhooks de transação.

    ## Conceitos

    - **Container** — O contêiner de rastreamento vinculado a um domínio.
    - **Gatilho (Trigger)** — Uma *configuração* que define quando e como uma conversão deve ser disparada (tipo de disparo, mapeamento Meta, condições). Recurso CRUD.
    - **Evento** — Um *dado de rastreamento* enviado em tempo real: "usuário visualizou página X", "usuário comprou Y". Transitório, processado via fila.

    ## Infraestrutura

    - Rate limiting via `X-RateLimit-*` headers
    - Request ID via `X-Request-Id` em todas as respostas
    - `Idempotency-Key` suportado em POSTs de criação e ingestão

servers:
  - url: https://api.metrito.com
    description: Produção

security:
  - bearerAuth: []
  - apiKeyAuth: []

paths:
  /v3/tracking/containers/{containerId}:
    get:
      operationId: getContainer
      summary: Obter container
      description: |
        Retorna informações completas de um container de rastreamento, incluindo domínio, gatilhos configurados e pixels vinculados.
      x-mint:
        metadata:
          title: Obter Container
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ContainerId"
      responses:
        "200":
          description: Container retornado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerResponse"
              example:
                id: 64a1b2c3d4e5f6a7b8c9d0e1
                domain: minhaloja.com.br
                alias: Minha Loja
                version: "2.0"
                status: valid_receive_events
                verifiedDomains:
                  - domain: minhaloja.com.br
                    status: verified
                linkedPixels:
                  - source: meta_ads
                    id: "1234567890"
                    name: Pixel Principal
                triggers:
                  - id: 64a1b2c3d4e5f6a7b8c9d0e2
                    name: Compra Aprovada
                    triggerType: api
                    facebookEventName: Purchase
                metadata:
                  allowedHosts: ["minhaloja.com.br"]
                  leadKey: mlid
                  hasFunnelSteps: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v3/tracking/containers/{containerId}/triggers:
    get:
      operationId: listTriggers
      summary: Listar gatilhos
      description: |
        Retorna os gatilhos configurados em um container com paginação.

        Um **gatilho** é uma configuração que define quando e como uma conversão deve ser disparada — tipo de disparo (`api`, `page_view`, `element_click`, etc.), nome do evento no Metrito, mapeamento para a Meta Conversion API e condições de página.
      x-mint:
        metadata:
          title: Listar Gatilhos
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ContainerId"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: triggerType
          in: query
          description: Filtrar por tipo de disparo
          schema:
            type: string
            enum:
              [
                api,
                page_view,
                page_view_duration,
                element_click,
                element_view,
                element_hover,
                form_submit,
                scroll_depth,
                video_view_duration,
                whatsapp_keyword_message,
                click_tracking_link,
                checkout_transaction_approved,
              ]
      responses:
        "200":
          description: Gatilhos retornados com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerListResponse"
              example:
                triggers:
                  - _id: 64a1b2c3d4e5f6a7b8c9d0e2
                    name: Compra Aprovada
                    domain: minhaloja.com.br
                    config:
                      trigger:
                        type: api
                      facebook:
                        name: Purchase
                        trackCustom: false
                    createdAt: "2026-01-15T10:00:00.000Z"
                  - _id: 64a1b2c3d4e5f6a7b8c9d0e3
                    name: Lead Capturado
                    domain: minhaloja.com.br
                    config:
                      trigger:
                        type: api
                      facebook:
                        name: Lead
                        trackCustom: false
                    createdAt: "2026-01-10T08:30:00.000Z"
                totalPages: 1
                currentPage: 1
                total: 2
                totalFiltered: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createTrigger
      summary: Criar gatilho
      description: |
        Cria um novo gatilho no container. Via API pública, apenas gatilhos com `trigger.type = "api"` podem ser criados — o disparo é feito programaticamente via `POST /v3/tracking/events`.

        Suporta header `Idempotency-Key` para evitar criações duplicadas em caso de retry.
      x-mint:
        metadata:
          title: Criar Gatilho
        content: |
          ## Tipo de Disparo

          Via API pública, apenas `trigger.type = "api"` é suportado. Gatilhos de outros tipos (pageview, click, scroll) são criados via interface da plataforma Metrito.

          ## Mapeamento Meta

          O campo `config.facebook.name` define qual evento padrão da Meta será disparado quando este gatilho for ativado. Valores suportados: `Purchase`, `Lead`, `PageView`, `AddToCart`, `InitiateCheckout`, etc.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ContainerId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTriggerRequest"
            examples:
              purchase:
                summary: Gatilho de compra
                value:
                  name: Compra Aprovada
                  config:
                    trigger:
                      type: api
                    facebook:
                      name: Purchase
                      trackCustom: false
              lead:
                summary: Gatilho de lead
                value:
                  name: Lead Cadastrado
                  config:
                    trigger:
                      type: api
                    facebook:
                      name: Lead
                      trackCustom: false
      responses:
        "201":
          description: Gatilho criado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trigger"
              example:
                _id: 64a1b2c3d4e5f6a7b8c9d0e2
                name: Compra Aprovada
                domain: minhaloja.com.br
                config:
                  trigger:
                    type: api
                  facebook:
                    name: Purchase
                    trackCustom: false
                createdAt: "2026-03-24T14:00:00.000Z"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v3/tracking/containers/{containerId}/triggers/{triggerId}:
    put:
      operationId: updateTrigger
      summary: Atualizar gatilho
      description: |
        Atualiza um gatilho existente. Apenas gatilhos com `trigger.type = "api"` podem ser atualizados via API pública.
      x-mint:
        metadata:
          title: Atualizar Gatilho
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ContainerId"
        - $ref: "#/components/parameters/TriggerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTriggerRequest"
            example:
              name: Compra Aprovada v2
              config:
                trigger:
                  type: api
                facebook:
                  name: Purchase
                  trackCustom: false
      responses:
        "200":
          description: Gatilho atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trigger"
              example:
                _id: 64a1b2c3d4e5f6a7b8c9d0e2
                name: Compra Aprovada v2
                domain: minhaloja.com.br
                config:
                  trigger:
                    type: api
                  facebook:
                    name: Purchase
                    trackCustom: false
                createdAt: "2026-03-24T14:00:00.000Z"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteTrigger
      summary: Deletar gatilho
      description: Remove um gatilho. Apenas gatilhos com `trigger.type = "api"` podem ser deletados via API pública.
      x-mint:
        metadata:
          title: Deletar Gatilho
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ContainerId"
        - $ref: "#/components/parameters/TriggerId"
      responses:
        "204":
          description: Gatilho deletado com sucesso
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v3/tracking/events:
    post:
      operationId: sendEvent
      summary: Enviar evento
      description: |
        Envia um evento de rastreamento ao Metrito.

        ## Dois modos de uso

        | Modo | Como usar | Resolução do container |
        |------|-----------|------------------------|
        | **Autenticado** (API key) | `Authorization: Bearer mtk_live_...` ou `x-api-key` | Container resolvido automaticamente pela chave |
        | **Público** (sem auth) | Sem header de autenticação | Campo `domain` obrigatório no body |

        O modo público é equivalente ao endpoint legado `POST /v2/public/tracking/events` — use este endpoint como ponto de entrada único.

        ## Idempotência

        Envie `Idempotency-Key` com um valor único por evento. Dentro de 24h, chamadas repetidas com o mesmo key retornam a resposta original com `X-Idempotent-Replayed: true`.
      x-mint:
        metadata:
          title: Enviar Evento
        content: |
          ## Modo Autenticado vs Público

          **Com API key** — o container é resolvido automaticamente pela chave. O campo `domain` no body é ignorado (mas pode ser enviado).

          **Público (sem auth)** — o campo `domain` é obrigatório e identifica o container de destino.

          ## config.name vs config.facebook.name

          | Campo | Onde é usado | Descrição |
          |-------|--------------|-----------|
          | `config.name` | **Metrito** | Nome interno para relatórios e dashboards |
          | `config.facebook.name` | **Meta (Facebook/Instagram)** | Nome enviado à Meta Conversion API (`PageView`, `Purchase`, `Lead`, etc.) |

          Se `config.facebook` for omitido, o evento é registrado no Metrito mas **não** é enviado para a Meta.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackingEventPayload"
            examples:
              authenticated_pageview:
                summary: PageView com API key
                value:
                  config:
                    name: PageView
              authenticated_purchase:
                summary: Compra com API key
                value:
                  config:
                    name: Compra
                    facebook:
                      name: Purchase
                  data:
                    value: 299.90
                    currency: BRL
                  lead:
                    email: joao@exemplo.com
                    phone: "+5511999999999"
              public_pageview:
                summary: PageView público (sem auth)
                value:
                  domain: minhaloja.com.br
                  config:
                    name: PageView
              public_purchase:
                summary: Compra pública (sem auth)
                value:
                  domain: minhaloja.com.br
                  config:
                    name: Compra
                    facebook:
                      name: Purchase
                  data:
                    value: 299.90
                    currency: BRL
                  lead:
                    name: João Silva
                    email: joao@exemplo.com
                    phone: "+5511999999999"
                  utm:
                    utm_source: facebook
                    utm_medium: cpc
                    utm_campaign: "Campanha Verão|123456789"
      responses:
        "200":
          description: Evento aceito e enfileirado para processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingEventResponse"
              example:
                success: true
                eventId: 1758388123_kk78h7u5sf
                leadId: lead_20260324_xyz789
                timestamp: 1758388123
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v3/tracking/messages/decode:
    post:
      operationId: decodeMessages
      summary: Decodificar mensagens WhatsApp
      description: |
        Decodifica mensagens rastreadas do WhatsApp, retornando os parâmetros UTM e dados de rastreamento originais associados a cada mensagem.
      x-mint:
        metadata:
          title: Decodificar Mensagens
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                messages:
                  type: array
                  maxItems: 100
                  description: Lista de mensagens a decodificar
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                        description: Texto da mensagem recebida pelo WhatsApp
            example:
              messages:
                - text: "Olá, tenho interesse no produto!"
                - text: "Qual o preço?"
      responses:
        "200":
          description: Mensagens decodificadas com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        decodedText:
                          type: string
                          nullable: true
                        decodedId:
                          type: number
                          nullable: true
                        params:
                          type: object
                          nullable: true
                        trackingLinkId:
                          type: string
                          nullable: true
                        selectedTarget:
                          type: string
                          nullable: true
              example:
                messages:
                  - text: "Olá, tenho interesse no produto!"
                    decodedText: "Olá, tenho interesse no produto!"
                    decodedId: 1234567890
                    params:
                      utm_source: instagram
                      utm_medium: cpc
                      utm_campaign: "120215678901234567"
                    trackingLinkId: 64a1b2c3d4e5f6a7b8c9d0e4
                    selectedTarget: null
                  - text: "Qual o preço?"
                    decodedText: "Qual o preço?"
                    decodedId: null
                    params: null
                    trackingLinkId: null
                    selectedTarget: null
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v2/tracking/generic:
    post:
      operationId: sendWebhook
      summary: Webhook de pedido/transação
      description: |
        Webhook genérico para receber eventos de pedido/transação de qualquer plataforma de checkout, ERP ou sistema customizado.

        O parâmetro `k` na query string identifica e autentica a requisição. Nenhum header `Authorization` é necessário.

        O Metrito irá:
        - Fazer **upsert** do registro da transação usando `transaction.id` como chave única
        - **Detectar o tipo de evento** automaticamente pelo campo `status`
        - **Disparar conversão de Compra** para a Meta Conversion API quando `status = "approved"`
        - **Associar a transação a um lead rastreado** via UTM, e-mail ou telefone
      x-mint:
        metadata:
          title: Webhook de Pedido
        content: |
          ## Autenticação

          O parâmetro `k` na query string identifica e autentica a requisição.

          **Onde encontrar sua chave:** No painel do Metrito, acesse **Conexões → Adicionar Conexão → Personalizado**. A URL completa do webhook (incluindo seu `k`) é exibida após a criação.

          ## Valores Monetários

          Todos os valores monetários devem ser enviados como **inteiros em centavos**.

          | Campo | Exemplo (BRL) | Valor Correto |
          |-------|---------------|---------------|
          | `transaction.value` | R$ 199,80 | `19980` |
          | `transaction.commission_value` | R$ 29,97 | `2997` |

          ## Status de Transação

          | Valor | Dispara Compra Meta? |
          |-------|---------------------|
          | `pending` | Não |
          | `approved` | **Sim** |
          | `failed` | Não |
          | `refunded` | Não |
          | `chargeback` | Não |
      security: []
      parameters:
        - name: k
          in: query
          required: true
          description: Chave de conexão obtida no painel do Metrito ao criar uma conexão "Personalizado"
          schema:
            type: string
            example: abc123def456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookPayload"
            examples:
              minimal:
                summary: Payload mínimo
                value:
                  transaction:
                    id: order_0987654321
                    status: pending
                    commission_currency: BRL
                    commission_value: 9990
                    created_at: "2024-06-15T10:00:00Z"
                    updated_at: "2024-06-15T10:00:00Z"
              approved_with_utm:
                summary: Transação aprovada com UTM
                value:
                  transaction:
                    id: order_1234567890
                    status: approved
                    currency: BRL
                    value: 19980
                    commission_currency: BRL
                    commission_value: 17982
                    created_at: "2024-06-15T13:00:00Z"
                    updated_at: "2024-06-15T13:02:45Z"
                    customer:
                      name: João Silva
                      email: joao.silva@email.com
                      phone: "+5511987654321"
                    products:
                      - id: prod_mentoria_basica
                        product_name: "Mentoria Online - Plano Básico"
                        quantity: 1
                        value: 19980
                    payment:
                      method: credit_card
                      installments: 3
                  utm:
                    source: facebook
                    medium: cpc
                    campaign: "120215678901234567"
                    mlid: ldr_xk7mq2n9p4
      responses:
        "200":
          description: Webhook aceito e enfileirado para processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
              example:
                success: true
        "400":
          description: Erro de validação, chave ausente ou inválida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingKey:
                  summary: Chave ausente
                  value:
                    message: "Missing key parameter. (query k)"
                validationError:
                  summary: Erro de validação
                  value:
                    message: Validation Error.
                    errors:
                      transaction.commission_currency: "String must contain exactly 3 character(s)"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or API Key
      description: JWT da plataforma ou API key `mtk_live_...`
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key `mtk_live_...` via header `x-api-key`

  parameters:
    ContainerId:
      name: containerId
      in: path
      required: true
      description: ID do container de rastreamento
      schema:
        type: string
        example: 64a1b2c3d4e5f6a7b8c9d0e1
    TriggerId:
      name: triggerId
      in: path
      required: true
      description: ID do gatilho
      schema:
        type: string
        example: 64a1b2c3d4e5f6a7b8c9d0e2
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Chave de idempotência. Dentro de 24h, chamadas repetidas com o mesmo key retornam a resposta original.
      schema:
        type: string

  responses:
    Unauthorized:
      description: API key ausente, inválida, revogada ou expirada
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              type: authentication_error
              code: invalid_api_key
              message: The API key provided is invalid or has been revoked.
              request_id: req_abc123
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              type: not_found_error
              code: resource_not_found
              message: Trigger not found
              request_id: req_abc123
    ValidationError:
      description: Parâmetro ausente ou inválido
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              type: validation_error
              code: invalid_parameter
              message: "trigger.type must be 'api' for Partner API triggers"
              request_id: req_abc123
    RateLimited:
      description: Rate limit excedido
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              type: rate_limit_error
              code: rate_limit_exceeded
              message: "Rate limit exceeded. Maximum 120 requests per 60s."
              request_id: req_abc123

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              enum: [authentication_error, authorization_error, validation_error, rate_limit_error, not_found_error, api_error]
            code:
              type: string
            message:
              type: string
            request_id:
              type: string
              nullable: true

    Trigger:
      type: object
      properties:
        _id:
          type: string
          description: ID único do gatilho
        name:
          type: string
          description: Nome do gatilho
        description:
          type: string
          nullable: true
        domain:
          type: string
          description: Domínio do container
        isAutomatic:
          type: boolean
          nullable: true
        config:
          type: object
          properties:
            trigger:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    [
                      api,
                      page_view,
                      page_view_duration,
                      element_click,
                      element_view,
                      element_hover,
                      form_submit,
                      scroll_depth,
                      video_view_duration,
                      whatsapp_keyword_message,
                      click_tracking_link,
                      checkout_transaction_approved,
                    ]
            facebook:
              type: object
              nullable: true
              properties:
                name:
                  type: string
                trackCustom:
                  type: boolean
        createdAt:
          type: string
          format: date-time

    TriggerListResponse:
      type: object
      properties:
        triggers:
          type: array
          items:
            $ref: "#/components/schemas/Trigger"
        totalPages:
          type: integer
        currentPage:
          type: integer
        total:
          type: integer
        totalFiltered:
          type: integer

    CreateTriggerRequest:
      type: object
      required: [name, config]
      properties:
        name:
          type: string
          description: Nome descritivo do gatilho
          example: Compra Aprovada
        config:
          type: object
          required: [trigger]
          properties:
            trigger:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [api]
                  description: Apenas `api` é suportado via API pública
            facebook:
              type: object
              description: Configuração de mapeamento para Meta Conversion API
              properties:
                name:
                  type: string
                  description: "Nome do evento Meta: `Purchase`, `Lead`, `PageView`, etc."
                  example: Purchase
                trackCustom:
                  type: boolean
                  default: false

    ContainerResponse:
      type: object
      properties:
        id:
          type: string
        domain:
          type: string
        alias:
          type: string
          nullable: true
        version:
          type: string
        status:
          type: string
          enum: [valid_receive_events, pending_receive_events, not_receiving_events_p24h, pending, deleted]
        verifiedDomains:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              status:
                type: string
        linkedPixels:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              id:
                type: string
              name:
                type: string
        triggers:
          type: array
          description: Gatilhos configurados no container (resumo)
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              triggerType:
                type: string
              facebookEventName:
                type: string
                nullable: true
        metadata:
          type: object
          properties:
            allowedHosts:
              type: array
              items:
                type: string
            leadKey:
              type: string
              nullable: true
            hasFunnelSteps:
              type: boolean

    TrackingEventPayload:
      type: object
      properties:
        domain:
          type: string
          description: "Domínio do container. **Obrigatório no modo público** (sem API key). Ignorado no modo autenticado."
          example: minhaloja.com.br
        config:
          type: object
          required: [name]
          properties:
            name:
              type: string
              description: Nome do evento no Metrito
              example: Purchase
            facebook:
              type: object
              description: Omita para não enviar à Meta
              properties:
                name:
                  type: string
                  description: "Nome do evento no padrão Meta: `PageView`, `Lead`, `Purchase`, etc."
                  example: Purchase
        version:
          type: number
          default: 2
        eventId:
          type: string
          description: ID único do evento. Gerado automaticamente se omitido.
        eventTime:
          type: number
          description: Timestamp Unix em segundos. Usa horário atual se omitido.
        data:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
        lead:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
        utm:
          type: object
          properties:
            utm_source:
              type: string
            utm_medium:
              type: string
            utm_campaign:
              type: string
            utm_content:
              type: string
            utm_term:
              type: string
        cookies:
          type: object
          additionalProperties:
            type: string
          example:
            _fbp: fb.1.1234567890.987654321
            _ga: GA1.2.1234567890.1234567890

    TrackingEventResponse:
      type: object
      properties:
        success:
          type: boolean
        eventId:
          type: string
        leadId:
          type: string
          nullable: true
        timestamp:
          type: number

    WebhookPayload:
      type: object
      required: [transaction]
      properties:
        transaction:
          type: object
          required: [id, status, commission_currency, commission_value, created_at, updated_at]
          properties:
            id:
              type: string
            status:
              type: string
              enum: [pending, approved, authorized, failed, refunded, chargeback, under_analysis]
            commission_currency:
              type: string
              pattern: "^[A-Z]{3}$"
            commission_value:
              type: integer
              minimum: 0
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            value:
              type: integer
              minimum: 0
            currency:
              type: string
            customer:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
            products:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  product_name:
                    type: string
                  quantity:
                    type: integer
                  value:
                    type: integer
            payment:
              type: object
              properties:
                method:
                  type: string
                  enum: [credit_card, bank_slip, pix, paypal, free, unknown]
                installments:
                  type: integer
        utm:
          type: object
          properties:
            source:
              type: string
            medium:
              type: string
            campaign:
              type: string
            mlid:
              type: string
              description: "Metrito Lead ID — identificador de sessão do script de rastreamento"
